# Node.js modules
node_modules/

# Environment variables
.env

# Build outputs
build/
dist/

# Log files
*.log

# Operating system files
.DS_Store

# Vercel configuration
.vercel/

# Next.js files
.next/

